@import 'scss/box1Animate.scss';

@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
*{
    padding: 0;
    margin: 0;
}

.contentBox{
    height: 100vh;
    .boxAnimation{
        position: absolute;
        //display: flex;
        //align-items: center;
        width: 100%;
        height: 100%;
        //justify-content: center;
        //text-align: center;
        h1{
            margin: 0 ;
            background-attachment: fixed ;
            background-repeat:no-repeat;
            background-size: cover;
            background-clip: text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}











