@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
.box1Animate {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9198e55d)), url(https://images.wallpaperscraft.ru/image/majami_florida_ssha_neboskreb_ulitsa_101136_1920x1080.jpg);
  background-image: -webkit-linear-gradient(#9198e55d), url(https://images.wallpaperscraft.ru/image/majami_florida_ssha_neboskreb_ulitsa_101136_1920x1080.jpg);
  background-image: -o-linear-gradient(#9198e55d), url(https://images.wallpaperscraft.ru/image/majami_florida_ssha_neboskreb_ulitsa_101136_1920x1080.jpg);
  background-image: linear-gradient(#9198e55d), url(https://images.wallpaperscraft.ru/image/majami_florida_ssha_neboskreb_ulitsa_101136_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  filter: blur(5px); }

.boxAniOn1 {
  animation: boxAniOn1 5s infinite ease alternate-reverse; }

@-webkit-keyframes boxAniOn1 {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px); }
  100% {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }

@keyframes boxAniOn1 {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px); }
  100% {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }

.conteiner1Animate .TextAniOn1 {
  background-image: url(https://images.wallpaperscraft.ru/image/majami_florida_ssha_neboskreb_ulitsa_101136_1920x1080.jpg);
  font-size: 24vh;
  font-family: 'Archivo Black', sans-serif;
  color: #00000000;
  -webkit-animation: tracking-in-expand 10s ease infinite;
  animation: tracking-in-expand 10s ease infinite; }

@-webkit-keyframes tracking-in-expand {
  0% {
    color: #00000000;
    letter-spacing: 0px;
    font-size: 24vh; }
  50% {
    color: #424242a4;
    letter-spacing: 15px;
    font-size: 25vh; }
  100% {
    color: #00000000;
    letter-spacing: 0px;
    font-size: 24vh; } }

@keyframes tracking-in-expand {
  0% {
    color: #00000000;
    letter-spacing: 0px;
    font-size: 24vh; }
  50% {
    color: #424242a4;
    letter-spacing: 15px;
    font-size: 25vh; }
  100% {
    color: #00000000;
    letter-spacing: 0px;
    font-size: 24vh; } }

* {
  padding: 0;
  margin: 0; }

.contentBox {
  height: 100vh; }
  .contentBox .boxAnimation {
    position: absolute;
    width: 100%;
    height: 100%; }
    .contentBox .boxAnimation h1 {
      margin: 0;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      background-clip: text;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%; }
