
.box1Animate{
    background-image: linear-gradient(#9198e55d), url(https://images.wallpaperscraft.ru/image/majami_florida_ssha_neboskreb_ulitsa_101136_1920x1080.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    filter: blur(5px);
   
}    
.boxAniOn1{
    animation: boxAniOn1 5s infinite ease alternate-reverse;

    @keyframes boxAniOn1 {
        0% {
          -webkit-filter: blur(3px);
                  filter: blur(3px);
                 
        }
        100% {
          -webkit-filter: blur(10px);
                  filter: blur(10px);
                  
        }
      }
}

.conteiner1Animate{
    .TextAniOn1{
      background-image: url(https://images.wallpaperscraft.ru/image/majami_florida_ssha_neboskreb_ulitsa_101136_1920x1080.jpg);
      font-size: 24vh;
      font-family: 'Archivo Black', sans-serif;
      color: #00000000;
      
        animation: tracking-in-expand 10s ease infinite;
        @keyframes tracking-in-expand {
            0% {
                color: #00000000;
                letter-spacing: 0px;
                font-size: 24vh;
            }
            50% {
                color: #424242a4;
                letter-spacing: 15px;
                font-size: 25vh;
            }
            100% {
                color: #00000000;
                letter-spacing: 0px;
                font-size: 24vh;
            }
          }
          
    }
}