

.about-Us{
    background-color: #fff;
    //padding-right: 15px;
    //padding-left: 15px;

    .content-about-Us{
        margin-bottom:$pd40;
        text-align: justify;
        width: 100%;
        position: relative;
        //left: 15%;

    }
}



.order{
    background-color: #2e2e2e;
    //padding-right: 15px;
    //padding-left: 15px;
    color: #fff;


    .content-order{
        form{
            //margin-left: 15%;
            //margin-right:15%; 

            .form-input {
                border: inherit;
                background-color: #b7b8bd00;
                width: 100%;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                letter-spacing: 0.5px;
                font-weight: 400;
                outline: none;
                font-size: 24px;
                color: #fff;
                border-bottom: 2px solid #757575;
                transition: 0.5s;
              }
              .form-input:hover,
              .form-input:focus {
                border-bottom: 2px solid #ffffff;
                transition: 0.5s;
              }
              .form-input:hover::-webkit-input-placeholder,
              .form-input:focus::-webkit-input-placeholder {
                color: #dedede !important;
                letter-spacing: 1px;
                font-weight: 400;
                transition: 0.3s;
              }

                .my-btn{
                    width: 100%;
                    &:active{
                        width: 80%;
                    }
                }

        }

    }
}