
$MobileS:320px;
$MobileL:480px;
$Table:768px;
$Loptop:1024px;

$pd40:40px;


$bright-blue:#7aefff ;



.header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    z-index: 90;
}
.header { 
    background-size: 100% auto;
    background-attachment: fixed;
    @media(min-width: $MobileS){
        background-image: url(https://images.wallpaperscraft.ru/image/derevyannyj_tekstura_bruski_119635_540x960.jpg);
    }
    @media(min-width: $MobileL){
        background-image: url(https://images.wallpaperscraft.ru/image/derevyannyj_tekstura_bruski_119635_720x1280.jpg);
    }
    @media(min-width: $Table){
        background-image: url(https://images.wallpaperscraft.ru/image/derevyannyj_tekstura_bruski_119635_1366x768.jpg);
    }
    @media(min-width: $Loptop){
        background-image: url(https://images.wallpaperscraft.ru/image/derevyannyj_tekstura_bruski_119635_1366x768.jpg);

    }
    .header-content{
        overflow-x: hidden;
        //padding: $pd40;
        font-size: 21px;
        text-align: justify;
        position: relative;
        color:#eeeeee;
        max-width: 100%;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;

        @media(min-width: $MobileS){
            width: 100%;
            //padding: $pd40 - 20;
        }
        @media(min-width: $Loptop){
            width: 80%;
        }

        .social-networks{
            font-size: 36px;
            position: relative;
            //left: -8px;

            ion-icon{
                padding:2px;
                margin: 8px;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    color:$bright-blue;
                    background-color:#0000006c;
                    border-radius: 5px;
                    transition: 0.3s;
                }
            }
        }
    }
}