





.conteiner-footer{

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.wallpaperscraft.ru/image/cvety_derevyannyy_raznocvetnyy_90054_1280x800.jpg);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color:#fff;

    .div-info{
       
        width: 100%;


        a{
            color:#fff;
        }

        .footer-a{
            a{
                font-size: 21px;
            }
        }

        .maps{
            iframe{
            width: 100%;
            height: 30vh;
            }
        }

        .info-schedule{
            .schedule{
                ion-icon{
                    padding:2px;
                    margin: 8px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover{
                        color:$bright-blue;
                        background-color:#0000006c;
                        border-radius: 5px;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}
