


$MobileS:320px;
$MobileL:480px;
$Table:768px;
$Loptop:1024px;

$pd40:40px;


$bright-blue:#7aefff ;


.menu { 
    background-color:#fff;
    max-width: 100%;
    //padding-top: $pd40; 
    

    .logo{
        cursor: pointer;
    }
    .menu-btn{
        //margin-top: $pd40 - 10;
        font-size: 41px;
        position: relative;
        left: 45%;
        padding:2px;
        border-radius: 50%;
        cursor: pointer;
    }
    .M-content{
        overflow-x: hidden;
        //padding-top: $pd40;
        text-align: justify;
        @media(min-width: $MobileS){
            display: none;
        }
        @media(min-width: $MobileL){
            display: none;
        }
        @media(min-width: $Table){
            display: none;
        }
        @media(min-width: $Loptop){
            display: block;
        }

        .phone , .location , .schedule{
            font-size: 16px;

            padding:4px;
            margin: 6px;
            padding-top:0px;
            margin-top: 0px;
            p{
                padding:0;
                margin: 0;
                .icon-phone{
                    position: relative;
                    top:2px;
                }
            }
        }
    }
}