
.Modal-window-basket{
    position:fixed;
    display:none;
    background: linear-gradient(#000000da, #000000da);
    color: #fff;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.6s;
    .modal-basket{
        #cart-empty{
            color:#fff;
            font-size: 42px;
            margin: 0;
            position: absolute;
            top: 25%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    }
    div{
        .close-basket{
            
            margin-bottom:15px; 
            position: relative;
            left: 49%;
            color:#fff;
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
            @-webkit-keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
              }
              @keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
              }
              

            &:hover{
                color:#7aefff;
                -webkit-animation: pulsate-fwd 0.7s ease-in-out infinite both;
                animation: pulsate-fwd 0.7s ease-in-out infinite both;
                transition: 0.3s;
                @-webkit-keyframes pulsate-fwd {
                    0% {
                      -webkit-transform: scale(1);
                              transform: scale(1);
                    }
                    50% {
                      -webkit-transform: scale(1.1);
                              transform: scale(1.1);
                    }
                    100% {
                      -webkit-transform: scale(1);
                              transform: scale(1);
                    }
                  }
                  @keyframes pulsate-fwd {
                    0% {
                      -webkit-transform: scale(1);
                              transform: scale(1);
                    }
                    50% {
                      -webkit-transform: scale(1.1);
                              transform: scale(1.1);
                    }
                    100% {
                      -webkit-transform: scale(1);
                              transform: scale(1);
                    }
                  }
            }


            &:active{
                color:$bright-blue;
                -webkit-animation: scale-in-center-active 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-in-center-active 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                @-webkit-keyframes scale-in-center-active {
                    0% {
                      -webkit-transform: scale(1.2);
                              transform: scale(1.2);
                      opacity: 1;
                    }
                    100% {
                      -webkit-transform: scale(1.3);
                              transform: scale(1.3);
                    background-color: #0000008c;
                      opacity: 1;
                    }
                  }
                  @keyframes scale-in-center-active {
                    0% {
                      -webkit-transform: scale(1.2);
                              transform: scale(1.2);
                      opacity: 1;
                    }
                    100% {
                      -webkit-transform: scale(1.3);
                              transform: scale(1.3);
                    background-color: #0000008c;
                      opacity: 1;
                    }
                  }
            }
        }
    }
    .cart-wrapper{
        display: block;
        height: 80%;
        overflow-y: auto;
        scroll-behavior: smooth;
        .product{
            position: relative;
            left: 10%;
            padding: 15px;
            float: left;
            width: 20%;
            padding-bottom: 20px;
            @media screen and (max-width: 1024px) {
                width: 40%;
            }
            @media screen and (max-width: 992px) {
                width: 80%;
            }
            @media screen and (max-width: 600px) {
                width: 90%;
                left: 0%;
            }

            .p-name{
                height: 10rem;
            }
        }
        .card{
            margin:5px;
            max-height: 45rem;
            
            color:#000;

            .p-img{
                img{
                    width: 100%;
                    height: 20rem;
                    border-top: #ffffff00 solid 1px; 
                    border-bottom: #ffffff00 solid 1px;
                    cursor: pointer;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
            .price{
                .s-price{
                    font-size:24px;
                }
                .cart{
                    margin-top:0;
                    font-size: 28px;
                    position: relative;
                    border:3px solid #00000000;
                    float: right;
                    right: 0;
                    &:hover{
                        border:3px solid #f8f9fa00;
                    }
                }
            }
        }
    }

    .cart-total{
        font-size: 21px;
    }
    
}