



.Modal-window-menu{
    position:fixed;
    display:none;
    background: linear-gradient(#000000da, #000000da);

    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.6s;
    div{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        .close-menu{
            color: #fff;
            margin-bottom:15px; 
            position: relative;
            left: 38%;
            &:hover{
                color: #7aefff;
            }
        }

        a{
            display: block;
            text-align: center;
            color: #fff;
            font-size: 32px;
            text-decoration: none;
            transform: scale(1);
            transition: 0.3s;
            &:hover{
                transform: scale(1.3);
                transition: 0.3s;
                color: #7aefff;
            }
            &:active{
                transition: 0.3s;
                transform: scale(1.5);
                color: #7aefff;
            }
        }
    }

}