$MobileS:320px;
$MobileL:575px;
$Table:768px;
$Loptop:1024px;

$pd40:40px;

$bright-blue:#7aefff ;


.portfolio::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    z-index: 50;
}
.portfolio{
    div{
        position:absolute;
        width:80%;
        
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

.portfolio , .portfolio-mobail{
    padding:$pd40 - 10;
    background-repeat: no-repeat;
    background-color: #424242;
    

    @media(min-width: $MobileS){
        display:none;
        

    }
    @media(min-width: $MobileL){
        display:block;

    }

    div{
      //position: relative;//asdasdasd
        color:#fff;
        z-index: 100;

        p{ 
            text-align: justify;
            margin-top: $pd40;

        }
    }

}
.portfolio-mobail{
  background-color: #2e2e2e;
    @media(min-width: $MobileS){
        display:block;
    }
    @media(min-width: $MobileL){
        display:none;
        
    }
    div{
        position: relative;
        padding: $pd40 - 20;
    }
}


.portfolio-content{
  padding: 0 !important;
  background-color: #424242;
}

@media(min-width: $MobileS){
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "block1" "block2" "block3" "block4" "block5" "block6";
  }
}
@media(min-width: $Loptop){
  .grid-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "block1 block1 block2 block2" "block3 block3 block4 block4" "block5 block5 block6 block6";
  }
}




.open-content-block{
  opacity: 0;
  background-color: #4242429e;
  position: absolute;
  width: 100%;
  height: 100%;

  cursor: pointer;
  &:hover{
    opacity: 1;
  }

  a{
    @media(min-width: $MobileS){
      top: 35%;
      left: 35%;
    }
    @media(min-width: $Table){
      top: 40%;
      left: 40%;
    }
    @media(min-width: $Loptop){
      top: 42%;
      left: 42%;
    }
    position: relative;
    font-size: 42px;
    color:#fff;
    margin: 0;
    transition: 0.3s;
    &:hover{
      transition: 0.3s;
      text-decoration: none;
      color:$bright-blue;
    }
    &:active{
      text-decoration: none;
      font-size: 46px
    }
  }
}


.block1
 , .block2
 , .block3
 , .block4
 , .block5
 , .block6{
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding-bottom: 55%;

  &:hover{
    overflow:  hidden;
    .slide-left{
      -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      @-webkit-keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
    }

    .slide-right{
      -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      @-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
    }
  }
}
.block1 { grid-area: block1; 
background-image: url(https://images.wallpaperscraft.ru/image/kuhnya_starinnyy_interer_mebel_derevyannyy_70052_1366x768.jpg);
}

.block2 { grid-area: block2; 
background-image: url(https://images.wallpaperscraft.ru/image/naushniki_audio_zvuk_122152_1366x768.jpg);
}

.block3 { grid-area: block3; 
background-image: url(https://images.wallpaperscraft.ru/image/naushniki_stol_rozovyj_122963_1366x768.jpg);
}

.block4 { grid-area: block4; 
background-image: url(https://images.wallpaperscraft.ru/image/gitara_oborudovanie_botinki_164720_1366x768.jpg);
}

.block5 { grid-area: block5; 
background-image: url(https://images.wallpaperscraft.ru/image/gitara_noty_struny_muzykalnyj_instrument_111863_1366x768.jpg);
}

.block6 { grid-area: block6; 
  background-image: url(https://images.wallpaperscraft.ru/image/kuhnya_mebel_interer_dizayn_86611_1366x768.jpg);
  }
