$MobileS:320px;
$MobileL:480px;
$Table:768px;
$Loptop:1025px;

$pd40:40px;


$bright-blue:#7aefff ;


.filter{
    padding: $pd40;
    color:#fff;
    background-color: #2e2e2e;

    .menu-icn{
        display:flex;
        height: 5em;
        align-items: center;
        justify-content: center;


        div{
            margin-left:3%;
            margin-right: 3%;
        }
    }

    .search{
        display: flex;
        margin-top: $pd40 - 10;
        align-items: center;
        justify-content: center;

            input{
                
                @media(min-width: $MobileS){
                    width: 100%;
                    margin:5%;
                }
                @media(min-width:$Table){
                    margin: 1%;
                    width: 100%;
                }   
                @media(min-width:$Loptop){
                    width: 62%;
                }
            }
    }

    div{

        form{
            @media(min-width: $MobileL){
                display: inline;
            }
            @media(min-width: $Table){
                display: flex;
            }
    
            margin-top: $pd40 - 10;
            align-items: center;
            justify-content: center;


            .form-control{
                
                @media(min-width: $MobileS){
                    width: 90%;
                    margin: 5%;
                }
                @media(min-width:$Table){
                    margin: 1%;
                    width: 50%;
                }   
                @media(min-width:$Loptop){
                    margin: 1%;
                    width: 30%;
                }
            }
        }
    }


}


.container-products{

  content: "";
  display: table;
  clear: both;
  padding: $pd40;

    .goods{
        overflow: hidden;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
         
        .div-product{ 
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 25%; 
            float: left;

            @media screen and (max-width: 1024px) {
                width: 33.33%;
            }
            @media screen and (max-width: 992px) {
                width: 50%;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }


            .card{
                margin:5px;
                color:#000;
            }
            .product{
            padding: 15px;
            padding-bottom: 20px;

                .p-img{
                
                    img{
                        width: 100%;
                        height: 20rem;
                        border-top: #ffffff00 solid 1px; 
                        border-bottom: #ffffff00 solid 1px;
                        cursor: pointer;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
                .p-name{
                    height: 10rem;
                }

                .price{
                    .s-price{
                        font-size:24px;
                    }

                    .cart{
                        margin-top:0;
                        font-size: 28px;
                        position: relative;
                        border:3px solid #00000000;
                        float: right;
                        right: 0;
                        &:hover{
                            border:3px solid #f8f9fa00;
                        }
                    }
                }
            }
        }
    }
}

.catalog-list{
    font-size: 21px;
    cursor: pointer;
    padding: 0 30% 0% 30%;
    list-style-type: none;
    counter-increment: list;
    transition: 0.5s;

    li{
        &:hover{
            transition: 0.5s;
            color:#7aefff;
            list-style-type:disc ;
        }
        &:active{
            transition: 0.5s;
            transform:scale(1.1);
        }
    }
}

