@import 'menu.scss';
@import 'header.scss';
@import 'portfolio.scss';
@import 'shop.scss';
@import 'about us and order.scss';
@import 'info schedule.scss';
@import 'Modal window menu.scss';
@import 'Modal window basket.scss';
@import 'AnimatePageScroll.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

$MobileS:320px;
$MobileL:480px;
$Table:768px;
$Loptop:1024px;

$pd40:40px;
$indent:10%;

$bright-blue:#7aefff ;

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif; 
    box-sizing: border-box;
}


button, button:focus, button:active { outline: none !important}
.my-btn{
    position: relative;
    color:#eeeeee;
    background-color: #7aefff50;
    border:none;
    font-size: 24px;
    padding:5px;
    max-width: 100%;
    width: 100%;

    margin-top:$pd40 - 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:0.3s;

    -webkit-animation: bg-pan-top-back 1s both;
    animation: bg-pan-top-back 1s both;


    @-webkit-keyframes bg-pan-top-back {
        0% {
          background-position: 50% 100%;
          background-color: $bright-blue;
          color:#000;
        }
        100% {
          background-position: 50% 0%;
          background-color: #7aefff50;
          color:#fff;
        }
      }
      @keyframes bg-pan-top-back {
        0% {
          background-position: 50% 100%;
          background-color: $bright-blue;
          color:#000;
        }
        100% {
          background-position: 50% 0%;
          background-color: #7aefff50;
          color:#fff;
        }
      }

    &:hover{
        transition:0.3s;
        -webkit-animation: bg-pan-top 1s both;
        animation: bg-pan-top 1s both;
        
        @-webkit-keyframes bg-pan-top {
            0% {
              background-position: 50% 100%;
              background-color: #7aefff50;
              color:#fff;
            }
            100% {
              background-position: 50% 0%;
              background-color: $bright-blue;
              color:#000;
            }
          }
          @keyframes bg-pan-top {
            0% {
              background-position: 50% 100%;
              background-color: #7aefff50;
              color:#fff;
            }
            100% {
              background-position: 50% 0%;
              background-color: $bright-blue;
              color:#000;
            }
          }

        &:active{
            width: 80%;
            transition:0.3s;
        }
    }
}
.icon-animation{
  margin-top: $pd40 - 10;
  font-size: 41px;
  padding:2px;
  box-shadow: 0px 0px 10px 0px #00000060;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  &:hover{
      color:$bright-blue;
      background-color: #0000008c;
      border-radius: 50%;
      -webkit-animation: pulsate-fwd 0.7s ease-in-out infinite both;
      animation: pulsate-fwd 0.7s ease-in-out infinite both;
      transition: 0.3s;
      @-webkit-keyframes pulsate-fwd {
          0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
          }
          50% {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
          }
          100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
          }
        }
        @keyframes pulsate-fwd {
          0% {
            -webkit-transform: scale(1);
                    transform: scale(1);
          }
          50% {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
          }
          100% {
            -webkit-transform: scale(1);
                    transform: scale(1);
          }
        }
        
        &:active{
          color:$bright-blue;
          -webkit-animation: scale-in-center-active 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center-active 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          @-webkit-keyframes scale-in-center-active {
              0% {
                -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                opacity: 1;
              }
              100% {
                -webkit-transform: scale(1.3);
                        transform: scale(1.3);
              background-color: #0000008c;
                opacity: 1;
              }
            }
            @keyframes scale-in-center-active {
              0% {
                -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                opacity: 1;
              }
              100% {
                -webkit-transform: scale(1.3);
                        transform: scale(1.3);
              background-color: #0000008c;
                opacity: 1;
              }
            }
        }
  }
}

.indent{
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.div-indent{

    @media(min-width: $MobileS){
      padding-top:$pd40; 
      //padding-left: $indent;
      //padding-right: $indent;
      padding-bottom:$pd40; 
    }
    @media(min-width: $MobileL){
      padding-top:$pd40; 
      //padding-left: $indent;
      //padding-right: $indent;
      padding-bottom:$pd40; 
    }
    @media(min-width:$Table){
      padding-top:$pd40; 
      //padding-left: $indent;
      //padding-right: $indent;
      padding-bottom:$pd40; 
    }   
    @media(min-width:$Loptop){
      padding-top:$pd40; 
      //padding-left: $indent;
      //padding-right: $indent;
      padding-bottom:$pd40; 
    }
}

.active {
  transition: 0.5s;
  color:#7aefff;
  list-style-type:disc ;
  transform:scale(1.1);
}

