.webim_button {
    position: fixed;
    right: 15px;
    bottom: 12px;
    z-index: 10000;
}

#anchor.anchorBtnIphone {
    bottom: 135px;
}

.webim_button.webimIphoneBtn {
    bottom: 75px
}

#anchor.chatBtnIphone {
    bottom: 130px;
}
