


.block-btn{
    margin: 0;
    float: right;
    right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    width: 4em;
    z-index: 200;
    height: 100vh;

  
    .btn-radio{ 
        position: relative;
        left: 95%;
        top: 35%;
        background-color: #ffffff63;
        margin-top: 20%;
        margin-bottom: 20%;
        width: 1.3em;
        height: 1.3em;
        border-radius: 50%;
        cursor: pointer;
        transform:scale(1);
        transition:0.5s;
        &:hover{
            transition:0.5s;
            background-color: #21daca;
            transform:scale(1.1);

        }
        &:active{
            transition:0.3s;
            background-color: #21daca;
            transform:scale(1.3);
        }
    }

    .btn-radio_active{
        background-color: #21daca;
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;

          @keyframes heartbeat {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-transform-origin: center center;
                      transform-origin: center center;
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            10% {
              -webkit-transform: scale(1.25);
                      transform: scale(1.25);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            17% {
              -webkit-transform: scale(1.10);
                      transform: scale(1.10);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            33% {
              -webkit-transform: scale(1.25);
                      transform: scale(1.25);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            45% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
          }
          
    }
}


