


.HidenDiw{
    opacity: 0;
    transition: 1s;
}

b{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: red;
    z-index:-100;
}

.DivBox{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    border-top: solid 15px #222222;
    border-bottom: solid 15px #222222;
    z-index: 150;

    &:nth-child(2){           
        background: linear-gradient( #00000080, #00000080 ), url('https://images.wallpaperscraft.ru/image/scifi_gorod_budushchee_140021_1920x1200.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-child(3){           
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center center;
        background: linear-gradient( #00000080, #00000080 ), url('https://images.wallpaperscraft.ru/image/more_gory_nebo_119639_1920x1200.jpg');
    }
    &:nth-child(4){
        background: linear-gradient( #00000080, #00000080 ), url("https://images.wallpaperscraft.ru/image/nochnoj_gorod_ulitsa_zont_121639_1920x1200.jpg");            
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center center;
        
    }
    
    &:nth-child(5){       
        background: linear-gradient( #00000080, #00000080 ), url('https://images.wallpaperscraft.ru/image/gorod_prichal_zakat_73499_1600x900.jpg');
        background-repeat:no-repeat;
        background-size: cover;
    }
}

