* {
  padding: 0;
  margin: 0; }

.Audiowide {
  font-family: 'Audiowide', cursive;
  font-weight: 400; }

.Carter_One {
  font-family: 'Carter One', cursive;
  font-weight: 600; }

.Gugi {
  font-family: 'Gugi', cursive; }

.Block_1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#ffffff4d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), to(#0000004d));
  background: -webkit-linear-gradient(left, #0000004d, #0000004d, #0000004d, #0000004d, #ffffff4d, #0000004d, #0000004d, #0000004d, #0000004d);
  background: -o-linear-gradient(left, #0000004d, #0000004d, #0000004d, #0000004d, #ffffff4d, #0000004d, #0000004d, #0000004d, #0000004d);
  background: linear-gradient(90deg, #0000004d, #0000004d, #0000004d, #0000004d, #ffffff4d, #0000004d, #0000004d, #0000004d, #0000004d);
  -webkit-animation: radiance linear 0s 0s  infinite;
  animation: radiance linear 0s 0s  infinite;
  -webkit-animation-duration: 16s;
  animation-duration: 16s; }

@-webkit-keyframes radiance {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  5% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #0303034d, #0000004d, #0000004d); }
  10% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#0303031f), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d); }
  12% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  14% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  16% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#0303031f), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d); }
  18% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  20% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#0303031f), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d); }
  40% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  41% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  42% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  43% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  44% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  45% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  55% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  56% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  57% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  58% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d); }
  59% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  60% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  65% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  85% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  86% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  87% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d); }
  88% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  90% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); } }

@keyframes radiance {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  5% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #0303034d, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #0303034d, #0000004d, #0000004d); }
  10% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#0303031f), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d); }
  12% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  14% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  16% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#0303031f), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d); }
  18% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  20% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#0303031f), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #0303031f, #0000004d, #0000004d); }
  40% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  41% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  42% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  43% {
    background: -webkit-gradient(linear, left top, right top, from(#1616161f), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616161f, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  44% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  45% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  55% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  56% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  57% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  58% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d); }
  59% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  60% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  65% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  85% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202015), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202015, #0000004d, #03030315, #0000004d, #0000004d); }
  86% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  87% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020201f), color-stop(#0000004d), color-stop(#03030315), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #2020201f, #0000004d, #03030315, #0000004d, #0000004d); }
  88% {
    background: -webkit-gradient(linear, left top, right top, from(#16161600), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161600, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); }
  90% {
    background: -webkit-gradient(linear, left top, right top, from(#1616164d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#2020204d), color-stop(#0000004d), color-stop(#0303034d), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d);
    background: linear-gradient(90deg, #1616164d, #0000004d, #0000004d, #0000004d, #2020204d, #0000004d, #0303034d, #0000004d, #0000004d); }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#16161615), color-stop(#0000004d), color-stop(#0000004d), color-stop(#0000004d), color-stop(#20202000), color-stop(#0000004d), color-stop(#03030300), color-stop(#0000004d), to(#0000004d));
    background: -webkit-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: -o-linear-gradient(left, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d);
    background: linear-gradient(90deg, #16161615, #0000004d, #0000004d, #0000004d, #20202000, #0000004d, #03030300, #0000004d, #0000004d); } }

.Block_1 {
  background-image: url("https://images.wallpaperscraft.ru/image/scifi_gorod_budushchee_140021_1920x1200.jpg"); }
  .Block_1 h1 {
    color: #ffffff00;
    background: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(#ff0000), color-stop(#0026ff), color-stop(#00ff00), to(#00ff00));
    background: -webkit-linear-gradient(left, #ff0000, #ff0000, #0026ff, #00ff00, #00ff00);
    background: -o-linear-gradient(left, #ff0000, #ff0000, #0026ff, #00ff00, #00ff00);
    background: linear-gradient(90deg, #ff0000, #ff0000, #0026ff, #00ff00, #00ff00);
    font-weight: bolder;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: cyberpunk 10s infinite;
    animation: cyberpunk 10s infinite; }

@-webkit-keyframes cyberpunk {
  0% {
    text-shadow: 0px 0px 0.1px #ff00b3, 0em 0em 0.5em #ff00b396; }
  25% {
    text-shadow: 0px 0px 0.1px #ff00b375, 0em 0em 1em #ff00b3; }
  50% {
    text-shadow: 0px 0px 0.1px #ff00b300, 0em 0em 0.1em #ffffff00; }
  75% {
    text-shadow: 0px 0px 0.1px #ff00b375, 0em 0em 1em #ff00b3; }
  100% {
    text-shadow: 0px 0px 0.1px #ff00b3, 0em 0em 0.5em #ff00b396; } }

@keyframes cyberpunk {
  0% {
    text-shadow: 0px 0px 0.1px #ff00b3, 0em 0em 0.5em #ff00b396; }
  25% {
    text-shadow: 0px 0px 0.1px #ff00b375, 0em 0em 1em #ff00b3; }
  50% {
    text-shadow: 0px 0px 0.1px #ff00b300, 0em 0em 0.1em #ffffff00; }
  75% {
    text-shadow: 0px 0px 0.1px #ff00b375, 0em 0em 1em #ff00b3; }
  100% {
    text-shadow: 0px 0px 0.1px #ff00b3, 0em 0em 0.5em #ff00b396; } }

.stripes_1, .stripes_2, .stripes_3, .stripes_4,
.stripes_5, .stripes_6, .stripes_7 {
  width: 0.5vh;
  height: 70vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffff0018), color-stop(#ffff00), color-stop(#ffff00), color-stop(#ffff003f), to(#ffff0000));
  background: -webkit-linear-gradient(bottom, #ffff0018, #ffff00, #ffff00, #ffff003f, #ffff0000);
  background: -o-linear-gradient(bottom, #ffff0018, #ffff00, #ffff00, #ffff003f, #ffff0000);
  background: linear-gradient(0deg, #ffff0018, #ffff00, #ffff00, #ffff003f, #ffff0000);
  position: absolute;
  border-radius: 40%;
  top: -50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: stripes   infinite;
  animation: stripes   infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s; }

.stripes_1 {
  left: 20%;
  background: -webkit-gradient(linear, left bottom, left top, from(#00fff218), color-stop(#00fff2), color-stop(#00fff2), color-stop(#00fff23f), to(#00fff200));
  background: -webkit-linear-gradient(bottom, #00fff218, #00fff2, #00fff2, #00fff23f, #00fff200);
  background: -o-linear-gradient(bottom, #00fff218, #00fff2, #00fff2, #00fff23f, #00fff200);
  background: linear-gradient(0deg, #00fff218, #00fff2, #00fff2, #00fff23f, #00fff200);
  -webkit-animation: stripes 0s 1s  infinite;
  animation: stripes 0s 1s  infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s; }

.stripes_2 {
  left: 70%;
  background: -webkit-gradient(linear, left bottom, left top, from(#3cff0018), color-stop(#3cff00), color-stop(#3cff00), color-stop(#3cff003f), to(#3cff0000));
  background: -webkit-linear-gradient(bottom, #3cff0018, #3cff00, #3cff00, #3cff003f, #3cff0000);
  background: -o-linear-gradient(bottom, #3cff0018, #3cff00, #3cff00, #3cff003f, #3cff0000);
  background: linear-gradient(0deg, #3cff0018, #3cff00, #3cff00, #3cff003f, #3cff0000);
  -webkit-animation: stripes 0s 5s  infinite;
  animation: stripes 0s 5s  infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s; }

.stripes_3 {
  left: 10%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff000018), color-stop(#ff0000), color-stop(#ff0000), color-stop(#ff00003f), to(#ff000000));
  background: -webkit-linear-gradient(bottom, #ff000018, #ff0000, #ff0000, #ff00003f, #ff000000);
  background: -o-linear-gradient(bottom, #ff000018, #ff0000, #ff0000, #ff00003f, #ff000000);
  background: linear-gradient(0deg, #ff000018, #ff0000, #ff0000, #ff00003f, #ff000000);
  -webkit-animation: stripes 0s 8s  infinite;
  animation: stripes 0s 8s  infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s; }

.stripes_4 {
  left: 90%;
  background: -webkit-gradient(linear, left bottom, left top, from(#0011ff18), color-stop(#0011ff), color-stop(#0011ff), color-stop(#0011ff3f), to(#0011ff00));
  background: -webkit-linear-gradient(bottom, #0011ff18, #0011ff, #0011ff, #0011ff3f, #0011ff00);
  background: -o-linear-gradient(bottom, #0011ff18, #0011ff, #0011ff, #0011ff3f, #0011ff00);
  background: linear-gradient(0deg, #0011ff18, #0011ff, #0011ff, #0011ff3f, #0011ff00);
  -webkit-animation: stripes 0s 0.5s  infinite;
  animation: stripes 0s 0.5s  infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s; }

.stripes_5 {
  left: 80%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff00bf18), color-stop(#ff00bf), color-stop(#ff00bf), color-stop(#ff00bf3f), to(#ff00bf00));
  background: -webkit-linear-gradient(bottom, #ff00bf18, #ff00bf, #ff00bf, #ff00bf3f, #ff00bf00);
  background: -o-linear-gradient(bottom, #ff00bf18, #ff00bf, #ff00bf, #ff00bf3f, #ff00bf00);
  background: linear-gradient(0deg, #ff00bf18, #ff00bf, #ff00bf, #ff00bf3f, #ff00bf00);
  -webkit-animation: stripes 0s 6s  infinite;
  animation: stripes 0s 6s  infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s; }

.stripes_6 {
  left: 30%;
  background: -webkit-gradient(linear, left bottom, left top, from(#6f00ff18), color-stop(#6f00ff), color-stop(#6f00ff), color-stop(#6f00ff3f), to(#6f00ff00));
  background: -webkit-linear-gradient(bottom, #6f00ff18, #6f00ff, #6f00ff, #6f00ff3f, #6f00ff00);
  background: -o-linear-gradient(bottom, #6f00ff18, #6f00ff, #6f00ff, #6f00ff3f, #6f00ff00);
  background: linear-gradient(0deg, #6f00ff18, #6f00ff, #6f00ff, #6f00ff3f, #6f00ff00);
  -webkit-animation: stripes 0s 3s  infinite;
  animation: stripes 0s 3s  infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s; }

@-webkit-keyframes stripes {
  form {
    top: 0%; }
  to {
    top: 150%; } }

@keyframes stripes {
  form {
    top: 0%; }
  to {
    top: 150%; } }

.Block_2::before, .Block_3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000004d; }

.Block_1, .Block_2, .Block_3 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  border-top: solid 15px #222222;
  border-bottom: solid 15px #222222; }
  .Block_1 h1, .Block_2 h1, .Block_3 h1 {
    position: relative;
    top: 40%;
    font-size: 9vh;
    cursor: pointer; }

.Block_2 {
  background-image: url("https://images.wallpaperscraft.ru/image/more_gory_nebo_119639_1920x1200.jpg"); }
  .Block_2 h1 {
    color: rgba(255, 255, 255, 0.253);
    background-image: url("https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/59770375_836073436748656_5741770138244349952_n.jpg?_nc_cat=111&_nc_ht=scontent-waw1-1.xx&oh=2e3222cb8f256516eebc8e3793b422ae&oe=5D66E896");
    background-size: contain;
    -webkit-background-clip: text;
    background-clip: text;
    /*text-transform: uppercase;*/
    -webkit-animation: wave linear 25s infinite;
    animation: wave linear 25s infinite; }

@-webkit-keyframes wave {
  form {
    background-position: left 0 top 0; }
  to {
    background-position: left 1800px top 0; } }

@keyframes wave {
  form {
    background-position: left 0 top 0; }
  to {
    background-position: left 1800px top 0; } }

.Gugi {
  position: absolute;
  color: #ffffff;
  top: 50%;
  font-size: 9vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 50; }

.Block_3 {
  position: relative;
  background-image: url("https://images.wallpaperscraft.ru/image/nochnoj_gorod_ulitsa_zont_121639_1920x1200.jpg");
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a1 a2 a3 a4" "b1 b2 b3 b4" "c1 c2 c3 c4";
  z-index: 45; }

.a1, .a2, .a3, .a4, .b1, .b2, .b3, .b4, .c1, .c2, .c3, .c4 {
  position: relative;
  background-color: #000000;
  z-index: 45; }

.a1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a1;
  -webkit-animation: dark1 20s linear 0s infinite;
  animation: dark1 20s linear 0s infinite; }

@-webkit-keyframes dark1 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  8% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000001c));
    background: -webkit-linear-gradient(#0000001c);
    background: linear-gradient(#0000001c); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  86% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000c1));
    background: -webkit-linear-gradient(#000000c1);
    background: linear-gradient(#000000c1); }
  88% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000c1));
    background: -webkit-linear-gradient(#000000c1);
    background: linear-gradient(#000000c1); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000c1));
    background: -webkit-linear-gradient(#000000c1);
    background: linear-gradient(#000000c1); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

@keyframes dark1 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  8% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000001c));
    background: -webkit-linear-gradient(#0000001c);
    background: -o-linear-gradient(#0000001c);
    background: linear-gradient(#0000001c); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  86% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000c1));
    background: -webkit-linear-gradient(#000000c1);
    background: -o-linear-gradient(#000000c1);
    background: linear-gradient(#000000c1); }
  88% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000c1));
    background: -webkit-linear-gradient(#000000c1);
    background: -o-linear-gradient(#000000c1);
    background: linear-gradient(#000000c1); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000c1));
    background: -webkit-linear-gradient(#000000c1);
    background: -o-linear-gradient(#000000c1);
    background: linear-gradient(#000000c1); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

.a2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a2;
  -webkit-animation: dark3 20s linear 1s infinite;
  animation: dark3 20s linear 1s infinite; }

.a3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a3;
  -webkit-animation: dark4 20s linear 1.5s infinite;
  animation: dark4 20s linear 1.5s infinite; }

.a4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: a4;
  -webkit-animation: dark3 20s linear 2s infinite;
  animation: dark3 20s linear 2s infinite; }

.b1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b1;
  -webkit-animation: dark2 20s linear 0s infinite;
  animation: dark2 20s linear 0s infinite; }

@-webkit-keyframes dark2 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e6e));
    background: -webkit-linear-gradient(#5e5e5e6e);
    background: linear-gradient(#5e5e5e6e); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  8% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  77% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  78% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  79% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  81% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  83% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  85% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000ea));
    background: -webkit-linear-gradient(#000000ea);
    background: linear-gradient(#000000ea); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

@keyframes dark2 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e6e));
    background: -webkit-linear-gradient(#5e5e5e6e);
    background: -o-linear-gradient(#5e5e5e6e);
    background: linear-gradient(#5e5e5e6e); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  8% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: -o-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  77% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  78% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  79% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  81% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  83% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: -o-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  85% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000ea));
    background: -webkit-linear-gradient(#000000ea);
    background: -o-linear-gradient(#000000ea);
    background: linear-gradient(#000000ea); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: -o-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: -o-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

.b2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b2;
  -webkit-animation: dark2 20s linear 2s infinite;
  animation: dark2 20s linear 2s infinite; }

@-webkit-keyframes dark3 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#e4e2e218));
    background: -webkit-linear-gradient(#e4e2e218);
    background: linear-gradient(#e4e2e218); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#333333a1));
    background: -webkit-linear-gradient(#333333a1);
    background: linear-gradient(#333333a1); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  8% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000001c));
    background: -webkit-linear-gradient(#0000001c);
    background: linear-gradient(#0000001c); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  11% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  12% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  13% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  77% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  78% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  79% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  81% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  83% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#e4e2e218));
    background: -webkit-linear-gradient(#e4e2e218);
    background: linear-gradient(#e4e2e218); }
  85% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000ea));
    background: -webkit-linear-gradient(#000000ea);
    background: linear-gradient(#000000ea); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000004f));
    background: -webkit-linear-gradient(#0000004f);
    background: linear-gradient(#0000004f); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1bbb));
    background: -webkit-linear-gradient(#1b1b1bbb);
    background: linear-gradient(#1b1b1bbb); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

@keyframes dark3 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#e4e2e218));
    background: -webkit-linear-gradient(#e4e2e218);
    background: -o-linear-gradient(#e4e2e218);
    background: linear-gradient(#e4e2e218); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#333333a1));
    background: -webkit-linear-gradient(#333333a1);
    background: -o-linear-gradient(#333333a1);
    background: linear-gradient(#333333a1); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  8% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000001c));
    background: -webkit-linear-gradient(#0000001c);
    background: -o-linear-gradient(#0000001c);
    background: linear-gradient(#0000001c); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  11% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  12% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  13% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  77% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  78% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  79% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  81% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  83% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: -o-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#e4e2e218));
    background: -webkit-linear-gradient(#e4e2e218);
    background: -o-linear-gradient(#e4e2e218);
    background: linear-gradient(#e4e2e218); }
  85% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000ea));
    background: -webkit-linear-gradient(#000000ea);
    background: -o-linear-gradient(#000000ea);
    background: linear-gradient(#000000ea); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000004f));
    background: -webkit-linear-gradient(#0000004f);
    background: -o-linear-gradient(#0000004f);
    background: linear-gradient(#0000004f); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b1c));
    background: -webkit-linear-gradient(#1b1b1b1c);
    background: -o-linear-gradient(#1b1b1b1c);
    background: linear-gradient(#1b1b1b1c); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000a1));
    background: -webkit-linear-gradient(#000000a1);
    background: -o-linear-gradient(#000000a1);
    background: linear-gradient(#000000a1); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1bbb));
    background: -webkit-linear-gradient(#1b1b1bbb);
    background: -o-linear-gradient(#1b1b1bbb);
    background: linear-gradient(#1b1b1bbb); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

.b3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: b3;
  -webkit-animation: dark1 20s linear 1s infinite;
  animation: dark1 20s linear 1s infinite; }

.b4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: b4;
  -webkit-animation: dark3 20s linear 1.5s infinite;
  animation: dark3 20s linear 1.5s infinite; }

.c1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c1;
  -webkit-animation: dark4 20s linear 0s infinite;
  animation: dark4 20s linear 0s infinite; }

@-webkit-keyframes dark4 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  31% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  32% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  33% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  63% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  64% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  65% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  81% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  83% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  85% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000ea));
    background: -webkit-linear-gradient(#000000ea);
    background: linear-gradient(#000000ea); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000001c));
    background: -webkit-linear-gradient(#0000001c);
    background: linear-gradient(#0000001c); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

@keyframes dark4 {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  2% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  4% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  6% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  31% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  32% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  33% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  63% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  64% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  65% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  80% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  81% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  82% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  83% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  84% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  85% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000ea));
    background: -webkit-linear-gradient(#000000ea);
    background: -o-linear-gradient(#000000ea);
    background: linear-gradient(#000000ea); }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  91% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  92% {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000001c));
    background: -webkit-linear-gradient(#0000001c);
    background: -o-linear-gradient(#0000001c);
    background: linear-gradient(#0000001c); }
  93% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  94% {
    background: -webkit-gradient(linear, left top, left bottom, from(#00000000));
    background: -webkit-linear-gradient(#00000000);
    background: -o-linear-gradient(#00000000);
    background: linear-gradient(#00000000); }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000));
    background: -webkit-linear-gradient(#000000);
    background: -o-linear-gradient(#000000);
    background: linear-gradient(#000000); } }

.c2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: c2;
  -webkit-animation: dark2 20s linear 0s infinite;
  animation: dark2 20s linear 0s infinite; }

.c3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c3;
  -webkit-animation: dark4 20s linear 0s infinite;
  animation: dark4 20s linear 0s infinite; }

.c4 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: c4;
  -webkit-animation: dark1 20s linear 0s infinite;
  animation: dark1 20s linear 0s infinite; }
