@import 'styleBlock4.scss';
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import 'BtnStyle.scss';
@import 'DivBox.scss';
*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden; 
}



.Audiowide{
    font-family: 'Audiowide', cursive;
    font-weight:400;
}
.Carter_One{
    font-family: 'Carter One', cursive;
    font-weight:600;
}
.Gugi {
    font-family: 'Gugi', cursive;
}


 

.Block_1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,#0000004d, #0000004d, #0000004d, #0000004d,  #ffffff4d, #0000004d,#0000004d,#0000004d, #0000004d);
    animation: radiance linear 0s 0s  infinite ;
    animation-duration: 16s;
    z-index: 100;
}
@keyframes radiance{
    0%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #2020204d, #0000004d,#0303034d,#0000004d, #0000004d);
    }
    5%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202015, #0000004d,#0303034d,#0000004d, #0000004d);
    }
    10%{
        background:linear-gradient(90deg,#1616161f, #0000004d, #0000004d, #0000004d,  #2020201f, #0000004d,#0303031f,#0000004d, #0000004d);
    }
    12%{
        background:linear-gradient(90deg,#1616164d, #0000004d, #0000004d, #0000004d,  #2020204d, #0000004d,#0303034d,#0000004d, #0000004d);
    }
    14%{
        background:linear-gradient(90deg,#1616164d, #0000004d, #0000004d, #0000004d,  #20202015, #0000004d,#03030315,#0000004d, #0000004d);
    }
    16%{
        background:linear-gradient(90deg,#1616161f, #0000004d, #0000004d, #0000004d,  #2020201f, #0000004d,#0303031f,#0000004d, #0000004d);
    }
    18%{
        background:linear-gradient(90deg,#1616164d, #0000004d, #0000004d, #0000004d,  #2020204d, #0000004d,#0303034d,#0000004d, #0000004d);
    }
    20%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #2020201f, #0000004d,#0303031f,#0000004d, #0000004d);
    }
    40%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #20202015, #0000004d,#03030315,#0000004d, #0000004d);
    }
    41%{
        background:linear-gradient(90deg,#1616161f, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    42%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #20202015, #0000004d,#03030315,#0000004d, #0000004d);
    }
    43%{
        background:linear-gradient(90deg,#1616161f, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    44%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    45%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    50%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    55%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    56%{
        background:linear-gradient(90deg,#1616164d, #0000004d, #0000004d, #0000004d,  #20202015, #0000004d,#03030315,#0000004d, #0000004d);
    }
    57%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    58%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #2020201f, #0000004d,#03030315,#0000004d, #0000004d);
    }
    59%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    60%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #20202015, #0000004d,#03030315,#0000004d, #0000004d);
    }
    65%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    85%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #20202015, #0000004d,#03030315,#0000004d, #0000004d);
    }
    86%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    87%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #2020201f, #0000004d,#03030315,#0000004d, #0000004d);
    }
    88%{
        background:linear-gradient(90deg,#16161600, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
    90%{
        background:linear-gradient(90deg,#1616164d, #0000004d, #0000004d, #0000004d,  #2020204d, #0000004d,#0303034d,#0000004d, #0000004d);
    }
    100%{
        background:linear-gradient(90deg,#16161615, #0000004d, #0000004d, #0000004d,  #20202000, #0000004d,#03030300,#0000004d, #0000004d);
    }
}





.Block_1{
    background-image: url('https://images.wallpaperscraft.ru/image/scifi_gorod_budushchee_140021_1920x1200.jpg');
    
    h1{
        color:#ffffff00;
        background: linear-gradient(90deg, #ff0000 ,#ff0000 , #0026ff ,#00ff00 , #00ff00  );
        font-weight: bolder;
        background-clip: text;
        animation: cyberpunk 10s infinite;
    }
}
@keyframes cyberpunk{
    0%{
        text-shadow: 0px 0px 0.1px #ff00b3, 0em 0em 0.5em #ff00b396;
    }
    25%{
        text-shadow:0px 0px 0.1px #ff00b375, 0em 0em 1em #ff00b3;       
    }
    50%{
        text-shadow: 0px 0px 0.1px #ff00b300, 0em 0em 0.1em #ffffff00;   
    }
    75%{
        text-shadow:0px 0px 0.1px #ff00b375, 0em 0em 1em #ff00b3;
    }
    100%{
        text-shadow: 0px 0px 0.1px #ff00b3, 0em 0em 0.5em #ff00b396;
    }
}
.stripes_1 , .stripes_2 , .stripes_3 , .stripes_4,
.stripes_5 , .stripes_6 , .stripes_7{
    width: 0.5vh;
    height: 70vh;
    background:linear-gradient(0deg, #ffff0018, #ffff00,  #ffff00, #ffff003f, #ffff0000);
    position: absolute;
    border-radius: 40%;
    top: -50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: stripes   infinite ;
    animation-duration: 7s;
}
.stripes_1{
    left: 20%;
    background:linear-gradient(0deg,  #00fff218 , #00fff2 , #00fff2 , #00fff23f , #00fff200 );
    animation: stripes 0s 1s  infinite ;
    animation-duration: 7s;
}
.stripes_2{
    left: 70%;
    background:linear-gradient(0deg, #3cff0018, #3cff00, #3cff00, #3cff003f, #3cff0000);
    animation: stripes 0s 5s  infinite ;
    animation-duration: 7s;
}

.stripes_3{
    left: 10%;
    background:linear-gradient(	0deg,#ff000018, #ff0000, #ff0000, #ff00003f ,#ff000000);
    animation: stripes 0s 8s  infinite ;
    animation-duration: 6s;
}

.stripes_4{
    left: 90%;
    background:linear-gradient(	0deg,#0011ff18, #0011ff, #0011ff, #0011ff3f ,#0011ff00);
    animation: stripes 0s 0.5s  infinite ;
    animation-duration: 7s;
}

.stripes_5{
    left: 80%;
    background:linear-gradient(	0deg,#ff00bf18, #ff00bf, #ff00bf, #ff00bf3f ,#ff00bf00);
    animation: stripes 0s 6s  infinite ;
    animation-duration: 7s;
}

.stripes_6{
    left: 30%;
    background:linear-gradient(	0deg,#6f00ff18, #6f00ff, #6f00ff, #6f00ff3f ,#6f00ff00);
    animation: stripes 0s 3s  infinite ;
    animation-duration: 7s;
}


@keyframes stripes{
    form{
        top:0%;
    }
    to{
        top:150%;
    }
}








 .Block_2::before , .Block_3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    
}
.Block_1 , .Block_2 , .Block_3 , .Block_4 ,.Block_5{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    border-top: solid 15px #222222;
    border-bottom: solid 15px #222222;
    z-index: 150;
    h1{
        position: relative;
        top:40%;
        font-size: 9vh;
        cursor: pointer;
        z-index: 200;
    }
}



.Block_2{
    background-image: url('https://images.wallpaperscraft.ru/image/more_gory_nebo_119639_1920x1200.jpg');

    h1{
        color:rgba(255, 255, 255, 0.253);
        background-image: url('https://scontent.fiev10-1.fna.fbcdn.net/v/t1.0-9/59953901_836095010079832_7844276094151688192_o.jpg?_nc_cat=104&_nc_oc=AQmLE95NcI5ceL3Rv0CEWApkzcIKstO7CbSRfy1uIGO5wcI5wTFAH0h2TkO0yo5ObvY&_nc_ht=scontent.fiev10-1.fna&oh=622d7214663830b2bef020e2d090f5f4&oe=5E1C6C05');
        background-size:cover;
        background-clip: text;
        /*text-transform: uppercase;*/
        animation: wave linear 25s  infinite alternate;
        
    }

}

@keyframes wave{
    form{
        background-position: left 0 top 0;

    }
    to{
        background-position: left 1800px top 0;

    }
}




.Gugi{
    position: absolute;
    color: #ffffff;
    top: 50%;
    font-size: 9vh;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: flicker-1 3s linear infinite both;
    z-index: 50;
}

@keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }
  

.Block_3{
    position:relative;
    background-image: url("https://images.wallpaperscraft.ru/image/nochnoj_gorod_ulitsa_zont_121639_1920x1200.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a1 a2 a3 a4" "b1 b2 b3 b4" "c1 c2 c3 c4";
    z-index: 45;
}


.a1 , .a2 , .a3 , .a4 , .b1 , .b2 , .b3 , .b4 , .c1 , .c2 , .c3 , .c4{
    position: relative;
    background-color: #000000;
    z-index: 45;
}

  .a1 { grid-area: a1; animation: dark1 20s linear 0s infinite;}
  @keyframes dark1 {
      0%{background:linear-gradient( #00000000);}
      1%{background:linear-gradient( #000000);}
      1.5%{background:linear-gradient( #000000a1);}
      2%{background:linear-gradient( #000000a1);}
      4%{background:linear-gradient( #000000);}
      4.5%{background:linear-gradient( #00000000);}
      4%{background:linear-gradient( #000000);}
      6%{background:linear-gradient( #000000a1);}
      8%{background:linear-gradient( #0000001c);}
      10%{background:linear-gradient( #00000000);}
      80%{background:linear-gradient( #00000000);}
      82%{background:linear-gradient( #000000a1);}
      84%{background:linear-gradient( #000000);}
      86%{background:linear-gradient( #000000c1);}
      88%{background:linear-gradient( #000000a1);}
      90%{background:linear-gradient( #00000000);}
      90.5%{background:linear-gradient( #000000);}
      91%{background:linear-gradient( #000000a1);}
      91.5%{background:linear-gradient( #00000000);}
      92%{background:linear-gradient( #000000c1);}
      92.5%{background:linear-gradient( #000000);}
      93%{background:linear-gradient( #000000a1);}
      93.5%{background:linear-gradient( #00000000);}
      94%{background:linear-gradient( #000000c1);}
      94.5%{background:linear-gradient( #00000000);}
      95%{background:linear-gradient( #000000);}
      95.5%{background:linear-gradient( #00000000);}
      96%{background:linear-gradient( #0000001f);}
      100%{background: linear-gradient( #000000);}
  }
  
  .a2 { grid-area: a2;  animation: dark3 20s linear 1s infinite;}
  
  .a3 { grid-area: a3; animation: dark4 20s linear 1.5s infinite;}
  
  .a4 { grid-area: a4; animation: dark3 20s linear 2s infinite;}
  
  .b1 { grid-area: b1; animation: dark2 20s linear 0s infinite;}
  @keyframes dark2 {
    0%{background:linear-gradient( #00000000);}
    2%{background:linear-gradient( #5e5e5e6e);}
    4%{background:linear-gradient( #000000a1);}
    6%{background:linear-gradient( #00000000);}
    8%{background:linear-gradient( #1b1b1b1c);}
    10%{background:linear-gradient( #00000000);}
    77%{background:linear-gradient( #00000000);}
    77.5%{background:linear-gradient( #000000);}
    78%{background:linear-gradient( #000000);}
    78.5%{background:linear-gradient( #0000001a);}
    79%{background:linear-gradient( #000000a1);}
    79.5%{background:linear-gradient( #000000);}
    80%{background:linear-gradient( #00000000);}
    81%{background:linear-gradient( #000000a1);}
    82%{background:linear-gradient( #000000);}
    83%{background:linear-gradient( #1b1b1b1c);}
    84%{background:linear-gradient( #000000a1);}
    85%{background:linear-gradient( #000000ea);}
    90%{background:linear-gradient( #00000000);}
    90.5%{background:linear-gradient( #000000);}
    91%{background:linear-gradient( #000000a1);}
    91.5%{background:linear-gradient( #00000000);}
    92%{background:linear-gradient( #1b1b1b1c);}
    92.5%{background:linear-gradient( #00000000);}
    93%{background:linear-gradient( #000000a1);}
    93.5%{background:linear-gradient( #00000000);}
    94%{background:linear-gradient( #1b1b1b1c);}
    94.5%{background:linear-gradient( #00000000);}
    95%{background:linear-gradient( #000000);}
    95.5%{background:linear-gradient( #00000000);}
    96%{background:linear-gradient( #000000);}
    100%{background: linear-gradient( #000000);}
}
  
  .b2 { grid-area: b2; animation: dark2 20s linear 2s infinite;}
  
  @keyframes dark3 {
    0%{background:linear-gradient( #00000000);}
    2%{background:linear-gradient( #e4e2e218);}
    4%{background:linear-gradient( #333333a1);}
    6%{background:linear-gradient( #00000000);}
    8%{background:linear-gradient( #0000001c);}
    10%{background:linear-gradient( #00000000);}
    10.5%{background:linear-gradient( #000000);}
    11%{background:linear-gradient( #00000000);}
    11.5%{background:linear-gradient( #000000f1);}
    12%{background:linear-gradient( #000000);}
    12.5%{background:linear-gradient( #0000001c);}
    13%{background:linear-gradient( #00000000);}
    13.5%{background:linear-gradient( #000000);}
    14%{background:linear-gradient( #00000000);}
    77%{background:linear-gradient( #00000000);}
    78%{background:linear-gradient( #000000);}
    79%{background:linear-gradient( #00000000);}
    80%{background:linear-gradient( #00000000);}
    81%{background:linear-gradient( #000000a1);}
    82%{background:linear-gradient( #000000);}
    83%{background:linear-gradient( #1b1b1b1c);}
    84%{background:linear-gradient( #e4e2e218);}
    85%{background:linear-gradient( #000000ea);}
    90%{background:linear-gradient( #00000000);}
    90.5%{background:linear-gradient( #00000000);}
    91%{background:linear-gradient( #0000004f);}
    91.5%{background:linear-gradient( #00000000);}
    92%{background:linear-gradient( #1b1b1b1c);}
    92.5%{background:linear-gradient( #00000000);}
    93%{background:linear-gradient( #000000a1);}
    93.5%{background:linear-gradient( #00000000);}
    94%{background:linear-gradient( #1b1b1bbb);}
    94.5%{background:linear-gradient( #00000000);}
    95%{background:linear-gradient( #000000);}
    95.5%{background:linear-gradient( #00000000);}
    96%{background:linear-gradient( #000000);}
    100%{background: linear-gradient( #000000);}
}

  .b3 { grid-area: b3; animation: dark1 20s linear 1s infinite;}
  
  .b4 { grid-area: b4; animation: dark3 20s linear 1.5s infinite;}
  
  .c1 { grid-area: c1;  animation: dark4 20s linear 0s infinite;}
  
  @keyframes dark4 {
    0%{background:linear-gradient( #00000000);}
    1%{background:linear-gradient( #0000002c);}
    1.5%{background:linear-gradient( #000000);}
    2%{background:linear-gradient( #000000);}
    2.5%{background:linear-gradient( #00000000);}
    3%{background:linear-gradient( #0000002a);}
    3.5%{background:linear-gradient( #0000000e);}
    4%{background:linear-gradient( #00000000);}
    6%{background:linear-gradient( #000000);}
    10%{background:linear-gradient( #00000000);}
    31%{background:linear-gradient( #00000000);}
    32%{background:linear-gradient( #000000);}
    33%{background:linear-gradient( #00000000);}
    63%{background:linear-gradient( #00000000);}
    64%{background:linear-gradient( #000000);}
    65%{background:linear-gradient( #00000000);}
    80%{background:linear-gradient( #00000000);}
    81%{background:linear-gradient( #000000);}
    82%{background:linear-gradient( #000000);}
    83%{background:linear-gradient( #00000000);}
    84%{background:linear-gradient( #000000);}
    85%{background:linear-gradient( #000000ea);}
    90%{background:linear-gradient( #00000000);}
    90.5%{background:linear-gradient( #000000);}
    91%{background:linear-gradient( #000000);}
    91.5%{background:linear-gradient( #00000000);}
    92%{background:linear-gradient( #0000001c);}
    92.5%{background:linear-gradient( #000000);}
    93%{background:linear-gradient( #00000000);}
    93.5%{background:linear-gradient( #000000);}
    94%{background:linear-gradient( #00000000);}
    94.5%{background:linear-gradient( #000000);}
    95%{background:linear-gradient( #000000);}
    95.5%{background:linear-gradient( #00000000);}
    96%{background:linear-gradient( #000000);}
    100%{background: linear-gradient( #000000);}
}

  .c2 { grid-area: c2; animation: dark2 20s linear 0s infinite;}
  
  .c3 { grid-area: c3; animation: dark4 20s linear 0s infinite;}
  
  .c4 { grid-area: c4; animation: dark1 20s linear 0s infinite;}