
.Block_4:before{
    opacity: 1;
    content: "";
    position: absolute;
    width: 100%;  
    top: 0;
    bottom: 0;
    outline: solid 10px;
    background: linear-gradient( #00000080, #00000080 ), url('https://images.wallpaperscraft.ru/image/gorod_prichal_zakat_73499_1600x900.jpg');
    background-repeat:no-repeat;
    background-size: cover;

    animation: brightnessAnimation 10s  infinite 0s  ease-out;
    @keyframes brightnessAnimation{
        0%{ 
            filter: brightness(100%);

        }
        10%{
            filter: brightness(60%);
        }
        50%{
            filter: brightness(20%);

        }
        90%{
            filter: brightness(60%);
        }
        100%{
            filter: brightness(100%);

        }
    }
    
}
.Block_4 {


    
    .text-news{
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        top:0%;
        color:#fffFFF00;
        height: 100%;
        font-size: 16em;
        font-family: 'Russo One', sans-serif;
        background-image:  url('https://images.wallpaperscraft.ru/image/gorod_prichal_zakat_73499_1600x900.jpg');
        background-attachment: fixed ;
        background-repeat:no-repeat;
        background-size: cover;
        background-clip: text;
        z-index: 150;
          animation: yourAnimation 10s  infinite 0s  ease-out;
          @keyframes yourAnimation{
            0%{
                letter-spacing: -0.5em;
                opacity: 0;
                }
            9%{
                opacity: 0.6;
                }
            18%{
                opacity: 1;
                letter-spacing: 0em;
                letter-spacing: 3px;
                }
            27%{
                letter-spacing: 0px;
                }
            36%{
                letter-spacing: 6px;
                }
            45%{
                letter-spacing: 0px;
                }
            54%{
                letter-spacing: 9px;
                }  
            63%{
                letter-spacing: 0px;
                }
            72%{
                letter-spacing: 6px;
                }                             
            82%{
                letter-spacing: 0px;
                letter-spacing: 0em;
                opacity: 1;
                }
            91%{
                opacity: 0.6;
                }
            100%{
                letter-spacing: -0.5em;
                opacity: 0;
                
                }
        }
        
    }
}
