*{
    padding: 0;
    margin: 0;
}
canvas{
    margin: 0;
    background: #343a40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
.btn-style{
    margin: 1%;
}
