* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
}

.background:first-child {
  z-index: 27;
  background-image: url(https://images.wallpaperscraft.ru/image/trollejbus_ostanovka_gorod_vecher_osveshchenie_119292_1920x1200.jpg);
}

.background:nth-child(2) {
  background-attachment: fixed;
  z-index: 30;
  background-image: url(https://images.wallpaperscraft.ru/image/doroga_razmetka_most_123398_1920x1200.jpg);
}

.background:nth-child(3) {
  z-index: 25;
  background-image: url(https://images.wallpaperscraft.ru/image/nyu_jork_ssha_noch_neboskreby_118354_1920x1200.jpg);
}

.background:nth-child(4) {
  background-attachment: fixed;
  z-index: 30;
  background-image: url(https://images.wallpaperscraft.ru/image/poezd_zheleznaia_doroga_perron_124422_1920x1200.jpg);
}

.content-wraper {
  position: absolute;
  margin: 0;
  top: 50%;
  text-align: center;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content-wraper > h1 {
  font-size: 10vh;
}

.text-p {
  font-size: 2vh;
  padding: 0% 20% 0% 20%;
  margin: 0;
  text-shadow: 1px 1px 2px #000, 0 0 1em #0000008a;
}

/*
.btn-go {
    opacity:0.8;
    display: none;
    position: fixed;
    outline: 0 !important;
    border-radius: 50%;
    border:0px solid #fff0;
    background-color:#6c757d;
    color:#fff;
    font-size: 40px;
    width: 3rem;
    height: 3rem;
    z-index: 999;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    transition:0.3s;
    &:hover{
        opacity:1;
        box-shadow: 0px 0px 10px 0.2px #fff;
        transition:0.3s;
    }
}*/
