body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.modal-content{background-color:#fff;font-family:verdana,arial,sans-serif;font-size:16px;color:#000;padding:.3em 1.5% 4em}a{word-wrap:break-word}h1{font-size:1.5em}h2{font-size:1.2em}h3{font-size:1.1em}h4,h5{font-size:1em}ol{margin-left:0;padding-left:1em}ol[type=a]{margin-left:1em}li{margin-bottom:.5em}table{border:1px solid #000;margin:0 -.5em}.table_responsive_container{max-width:100%;overflow:auto;padding:1em}@media(max-width:480px){.modal-content{font-size:14px}}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {  
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.grid-container {
    max-width: 920px!important;
}

body {
    background-image: url("./img/bg-barilla.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contentCenter{
    max-width: 100%;
    display: inline-block;
}
.dFull{
    max-width: 920px;
}
.full {
 
    border-radius: .7em;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.7);
    margin: 1em;
}

.headline {
    background: #F01A18;
    border-radius: .7em .7em 0 0;
}

.headline h1 {
    font-family: 'Baloo Bhai', cursive;
    color: #fff;
    font-size: 1.7rem;
    line-height: 2rem;
}

#footer1 p, .footer_links {
    font-size: .6em;
}
 

h2.cell.sub_headline, h2.question {
    font-size: 1.5em;
    color: #363636;
    text-shadow: 0 0 0.85em #ccc;
}

.prize {
    padding-top: 2em!important;
    -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

@keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

[id^="form_"] label:not(.button), span.field_note, [id^=form_] select {
    color: #4e4e4e;
}

[id^=form_] input:not([type='checkbox']):not([type='radio']), [id^=form_] select {
    border-bottom: 1px solid #677073;
}

[id^=form_] input:not([type='checkbox']):not([type='radio']) {
    color: white;
}

.button, #submit_reg_half, #submit_reg_full {
    text-transform: uppercase;
    font-weight: 700;
    background: #F01A18;
    color: #fff;
}

.button:hover, #submit_reg_half:hover, #submit_reg_full:hover {
    background: #012A56;
    -webkit-transition: all .35s ease-in-out !important;
    transition: all .35s ease-in-out !important;
}

/* Small only */

@media screen and (max-width: 37.9375em) {
    h1 {
        font-size: 1.5rem;
        line-height: 1.3rem;
    }
    #prize_img img {
        max-width: 70%;
    }
}

/* iPad Portait only */

@media only screen and (min-width: 37.9375em) and (max-width: 39.9375em) {}

/* Medium and up */

@media screen and (min-width: 40em) {}

/* Large and up */

@media screen and (min-width: 64em) {}		
[id^=form_] input:not([type='checkbox']):not([type='radio']) {
    color: #000;
}		

.cleverpush-backdrop,
.cleverpush-confirm-btn-deny {
  opacity: 0 !important;
  display: none !important;
}
.cleverpush-confirm-hide {
  margin-right:0 !important;
}
.cleverpush-confirm-buttons{
  justify-content: center;
  margin-left: 0!important;
  max-width: 100%;
}
.cleverpush-confirm-hide-channel-icon .cleverpush-confirm-text {
	width: calc(100% - 45px)!important;
}
.cleverpush-confirm-text { 
  text-align: center !important;
  min-height: 40px;
  margin-top: 15px !important;
  margin-left: 25px !important
}
.cleverpush-confirm-info {
  text-align: center!important;
}
.cleverpush-confirm-topbox-below .cleverpush-confirm-bottom-info {
  display:none!important;
}
@media (min-width: 768px) {
  .cleverpush-confirm-buttons{
  	justify-content: center;
 	margin-left: 0!important;
  	max-width: 100% !important;
	}
  .cleverpush-confirm-btn.cleverpush-confirm-btn-allow {
    margin-left: 0 !important;
  }
}@media (min-width: 768px) {
        .cleverpush-confirm-branding {
            bottom: 0 !important;
            left: 0 !important;
        }

        .cleverpush-confirm-buttons {
            max-width: calc(100% - 80px);
            margin-left: auto !important;
        }
    }

    #engage_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.6);
        content: '';
    }
    
    #engage_layer {
        z-index: 999;
        display: block;
        margin: auto;
        position: relative;
    }

    #engage_layer .engage_iframe {
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
        background-color: #fff;
        z-index: 1999;
    }

    #engage_layer #engage_closer {
        position: absolute;
        width: 32px;
        height: 32px;
        cursor: pointer;
        top: 5px;
        right: 5px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 8px #b6b6b6;
        z-index: 2999;
    }

    #engage_layer #engage_closer:before,
    #engage_layer #engage_closer:after {
        position: absolute;
        left: 15px;
        top: 6px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: #686868;
    }

    #engage_layer #engage_closer:before {
        transform: rotate(45deg);
    }
    #engage_layer #engage_closer:after {
        transform: rotate(-45deg);
    }
    #_sponsorlist_cover{z-index:9998;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6);font-family:"Helvetica",Arial,sans-serif}#_sponsorlist_container{position:fixed;z-index:9999;left:50%;top:50%;height:100%;max-height:500px;width:95%;max-width:450px;background-color:#FFF;transform:translate(-50%,-50%);-webkit-box-shadow:2px 5px 10px 0 #141414;box-shadow:2px 5px 10px 0 #141414;overflow:hidden;border-radius:6px}#_sponsorlist_container iframe{border:none;width:100%}.device_mobile #_sponsorlist_container .iframe_wrapper{clear:both;overflow-y:auto;-webkit-overflow-scrolling:touch;height:100%}.device_mobile #_sponsorlist_container iframe{min-height:520px}#_sponsorlist_container ._sponsor_iframe_closer{float:right;width:32px;height:32px;cursor:pointer;background-color:#EEE;border-radius:6px 6px 0 6px}#_sponsorlist_container ._sponsor_iframe_closer:hover{opacity:.3}#_sponsorlist_container ._sponsor_iframe_closer:before,#_sponsorlist_container ._sponsor_iframe_closer:after{position:absolute;right:15px;top:3px;content:' ';height:25px;width:2px;background-color:#333}#_sponsorlist_container ._sponsor_iframe_closer:before{transform:rotate(45deg)}#_sponsorlist_container ._sponsor_iframe_closer:after{transform:rotate(-45deg)}._sponsor_loader{position:fixed;z-index:999;height:2em;width:2em;overflow:show;margin:auto;top:0;left:0;bottom:0;right:0}._sponsor_loader:before{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.3)}._sponsor_loader:not(:required){font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}._sponsor_loader:not(:required):after{content:'';display:block;font-size:10px;width:1em;height:1em;margin-top:-.5em;-webkit-animation:spinner 1500ms infinite linear;-moz-animation:spinner 1500ms infinite linear;-ms-animation:spinner 1500ms infinite linear;-o-animation:spinner 1500ms infinite linear;animation:spinner 1500ms infinite linear;border-radius:.5em;-webkit-box-shadow:rgba(0,0,0,0.75) 1.5em 0 0 0,rgba(0,0,0,0.75) 1.1em 1.1em 0 0,rgba(0,0,0,0.75) 0 1.5em 0 0,rgba(0,0,0,0.75) -1.1em 1.1em 0 0,rgba(0,0,0,0.5) -1.5em 0 0 0,rgba(0,0,0,0.5) -1.1em -1.1em 0 0,rgba(0,0,0,0.75) 0 -1.5em 0 0,rgba(0,0,0,0.75) 1.1em -1.1em 0 0;box-shadow:rgba(0,0,0,0.75) 1.5em 0 0 0,rgba(0,0,0,0.75) 1.1em 1.1em 0 0,rgba(0,0,0,0.75) 0 1.5em 0 0,rgba(0,0,0,0.75) -1.1em 1.1em 0 0,rgba(0,0,0,0.75) -1.5em 0 0 0,rgba(0,0,0,0.75) -1.1em -1.1em 0 0,rgba(0,0,0,0.75) 0 -1.5em 0 0,rgba(0,0,0,0.75) 1.1em -1.1em 0 0}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}  