@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    font-family: 'Comfortaa', cursive;
    padding: 0.5% 3% 0.5% 3%;
    margin: 0.5% 0.3% 0.5% 0.3%;
}

body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(167,172,199,1) 100%);
    margin: 0;
    padding: 0;
}
.container-fluid , .container-fluid > div{
    max-width: 1280px;
    border-radius: 20px;
}

 h4 , h2{ text-shadow: 1px 1px 2px #ffffff; box-shadow: 0px 11px 10px -13px #000000; border-left: 3px solid #ff8484 ; background-color: #d4d4d4; transition:0.3s;}
 h2{border-left: 3px solid #ffb8b8; background-color: #d4d4d4a3; font-size:3.2vh;}
 h4{font-size: 4.1vh;}
 h4:hover ,  h2:hover{text-shadow: 2px 2px 4px #ffffff; box-shadow: 0px 0px 22px -12px #000000; border-left: 3px solid #ca6868 ; background-color: #bdbdbd; transition:0.3s;}
 h2:hover{background-color: #bdbdbda3;}
 .info , td ,  .warning , b  ,u , strong{font-weight:900; font-size: 24px;}
  td{font-weight:100;}
 .bg-secondary > p { color:#fff; text-shadow: 2px 2px 2px #000000;}
 .bg-secondary > p > u { color:#000;text-shadow: 2px 2px 2px #ffffff00;}
 b{ display: block; border-left: 3px solid aqua ;  background-color: beige; transition:0.3s;}
 b:hover{ border-left: 3px solid hotpink; background-color: lemonchiffon; transition:0.3s;}
 div{background-color: #f0edf1;}
 u{ text-decoration: none; padding:0.5%  2.5%  0.5%  2.5%; margin-left:5px;margin-right:15px; background-color: #eaf4f5; border-radius: 10px ; transition:0.3s;}
 u:hover{background-color: #87d8e0; transition:0.3s;}
 li{font-size: 18px; font-weight:600; background-color: white;border-right:3px solid #90909000; border-left:3px solid #909090; transition:0.3s;}
 li:hover{border-left:3px solid #2b2b2b; border-right:3px solid #2b2b2b; background-color: #e8e8e8; transition:0.3s;}
 
 .btn{position:relative; left:5%; margin:0.5%; }
 .warning{background-color:#ffd39b; text-shadow: 2px 2px 2px #ffb8b8;border-radius:20px;font-size:26px;border:3px solid #daa300;transition:0.3s;padding:2.5%;}
 .warning > p > u{text-shadow: 0px 0px 0px #ffffff00;} 
 .warning > p {font-weight:600;} 
 .warning:hover{background-color:#ffcc9b; border:3px solid #da5600;transition:0.3s;}

 .info{background-color:#d7eaff; text-shadow: 1px 1px 2px #b2c7ff;border-radius:20px;font-size:26px;border:3px solid #00beda;transition:0.3s;padding:2.5%;}
 .info > p > u{text-shadow: 0px 0px 0px #ffffff00;} 
 .info > p {font-weight:600;} 
 .info:hover{background-color:#c5e0ff; border:3px solid #0086da;transition:0.3s;}
 img{background-size: 100% auto; width:100%; height:100%;}

 .table > tbody > tr , .container > div > div {background-color:#ffdcf7;}
 .table > tbody , .container > div  {background-color:#ffdcf7bd;}
 .table , .container  {background-color:#ffe7fa;border:2px solid #00000000;border-top:2px solid;border-bottom:2px solid;transition: 0.3s;}
 .table:hover , .container:hover  {background-color:#ffe7fa;border:2px solid #00000000;border-left:2px solid ;border-right:2px solid ;transition: 0.3s;}
 thead:hover{background-color: #00000027; transition: 0.3s;}

 i{background-color:#FFFAF0; border-radius: 5px; letter-spacing:1.7px;transition:ease 0.4;}
 i:hover{background-color: #FDF5E6;transition:ease 0.4;}



/*-------------*/
h1{
    font-family: 'Kaushan Script', cursive;
    text-align: center!important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    color: #fff;
}
label{
    display: contents !important;
}
p, span{
    padding: 0 !important;
    margin: 0 !important;
}
.showDiw, .resul{
    display:none;
}
#RenderText > .pStyle {
    color:rgb(0, 0, 0);
}
.Plabel{
    background-color: #c1c1c1;
}

.WarningBorder{
    border-bottom: red 0.5px solid;
}

.textTrue , .pTrue{
    background-color: #9bd6a3;
}
.textFalse{
    background-color: #d69b9b;
}
.pFalse{
    background-color: #d8bdbd;
}
