h1 {
  font-weight: 400;
}

b {
  font-weight: 700;
}

p,
a {
  font-size: 19px;
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "block1 block1 block1 block2" "block1 block1 block1 block2" "block3 block3 block4 block4" "block3 block3 block5 block5" "block6 block7 block7 block7" "block6 block7 block7 block7";
}

.grid-container .block1,
.grid-container .block2,
.grid-container .block3,
.grid-container .block4,
.grid-container .block5,
.grid-container .block6,
.grid-container .block7 {
  padding: 0px 25px 0px 25px;
}

.block1 {
  grid-area: block1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1))), url("../img/block1.webp");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.1)), url("../img/block1.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.1)), url("../img/block1.webp");
  height: 100%;
  background-size: cover;
}

.block2 {
  grid-area: block2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block2 h1,
.block2 p {
  padding-bottom: 20px;
}

.block3 {
  grid-area: block3;
  background: -webkit-gradient(linear, left top, left bottom, from(#717986ab)), url("../img/block2.webp");
  background: -o-linear-gradient(#717986ab), url("../img/block2.webp");
  background: linear-gradient(#717986ab), url("../img/block2.webp");
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block3 .Bb_1,
.block3 .Bb_2,
.block3 .Bb_3 {
  padding: 5% 0% 5% 0%;
  color: #fff;
}

.block3 .Bb_1 h1,
.block3 .Bb_2 h1,
.block3 .Bb_3 h1 {
  padding-bottom: 15px;
}

.block3 .Bb_1 h1 b,
.block3 .Bb_2 h1 b,
.block3 .Bb_3 h1 b {
  color: #000;
}

.block4 {
  grid-area: block4;
  background: -webkit-gradient(linear, left top, left bottom, from(#b19992b5)), url("../img/block3.webp");
  background: -o-linear-gradient(#b19992b5), url("../img/block3.webp");
  background: linear-gradient(#b19992b5), url("../img/block3.webp");
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}

.block4 h1 b {
  color: #fff;
}

.block4 p {
  padding-bottom: 15px;
  padding-top: 15px;
}

.block4 .btn_anim_Thin_one {
  color: #000 !important;
}

.block4 .btn_anim_Thin_one::before {
  border-top-color: rgba(0, 0, 0, 0.5) !important;
  border-bottom-color: rgba(0, 0, 0, 0.5) !important;
}

.block4 .btn_anim_Thin_one::after {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.block5 {
  grid-area: block5;
  background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e42)), url("../img/block4.webp");
  background: -o-linear-gradient(#9e9e9e42), url("../img/block4.webp");
  background: linear-gradient(#9e9e9e42), url("../img/block4.webp");
  height: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.block5 h1 b {
  color: #000;
}

.block5 p {
  padding-bottom: 15px;
  padding-top: 15px;
}

.block6 {
  grid-area: block6;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/block5.webp");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/block5.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/block5.webp");
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block6 h1 {
  margin-top: 35px;
}

.block6 h1 b {
  font-size: 40px;
}

.block6 div {
  margin-bottom: 35px;
}

.block6 div a {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.block6 div h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.block6 div .icon_logo {
  background-image: url("../img/Logo.webp");
  background-size: cover;
}

.block7 {
  grid-area: block7;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000033)), url("../img/block7.webp");
  background: -o-linear-gradient(#00000033), url("../img/block7.webp");
  background: linear-gradient(#00000033), url("../img/block7.webp");
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-size: cover;
}

.block7 h1 {
  color: #fff;
}

.block7 h1 b {
  color: #fff;
  font-size: 40px;
}

.block7 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 19px;
}

.block7 .form .terea,
.block7 .form input {
  border: inherit;
  font-weight: normal;
  outline: none;
  margin: 5px;
  padding: 5px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.block7 .form .terea:hover,
.block7 .form input:hover,
.block7 .form .terea:focus,
.block7 .form input:focus {
  background-color: rgba(255, 255, 255, 0.171);
}

.block7 .form .inpleft {
  border-left: 1px  solid #fff;
}

.block7 .form .inpright {
  border-right: 1px solid #fff;
}

.block7 .form .inpleft:hover,
.block7 .form .inpleft:focus {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.block7 .form .inpright:hover,
.block7 .form .inpright:focus {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.block7 .form input::-webkit-input-placeholder,
.block7 .form .terea::-webkit-input-placeholder {
  color: #030303;
}

.block7 .form input:hover::-webkit-input-placeholder,
.block7 .form input:focus::-webkit-input-placeholder,
.block7 .form .terea:hover::-webkit-input-placeholder,
.block7 .form .terea:focus::-webkit-input-placeholder {
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block7 .form input {
  width: 40%;
  height: 32px;
  font-size: 19px;
}

.block7 .form .terea {
  width: 81.5%;
  height: 210px;
  font-size: 19px;
  border-right: 1px solid #fff;
  border-left: 1px  solid #fff;
}

.block7 .form .terea:hover,
.block7 .form .terea:focus {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.block7 .dBottom {
  color: #fff;
}

.block7 .dBottom div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.block7 .dBottom div a {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 10px;
  width: 42px;
  height: 42px;
}

.block7 .dBottom div .icon_f {
  background-image: url("../img/facebook.svg");
}

.block7 .dBottom div .icon_t {
  background-image: url("../img/twitter.svg");
}

.block7 .dBottom div .icon_g {
  background-image: url("../img/google.svg");
}

.block7 .dBottom div .icon_f,
.block7 .dBottom div .icon_t,
.block7 .dBottom div .icon_g {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.block7 .dBottom div .icon_f:hover,
.block7 .dBottom div .icon_t:hover,
.block7 .dBottom div .icon_g:hover {
  background-color: rgba(255, 255, 255, 0.651);
  border: 1px solid rgba(255, 255, 255, 0.651);
}

#btn_Thin {
  margin-top: 5px;
  font-size: 19px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn_anim_Thin_one {
  color: #FFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn_anim_Thin_one a {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  outline: none !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_anim_Thin_one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0.1, 1);
      -ms-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.btn_anim_Thin_one:hover a {
  letter-spacing: 2px;
}

.btn_anim_Thin_one:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btn_anim_Thin_one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn_anim_Thin_one:hover::after {
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
      -ms-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}

@media (min-width: 1px) and (max-width: 767px) {
  .grid-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block1,
  .block2,
  .block3,
  .block4,
  .block5,
  .block6,
  .block7 {
    padding: 35px 25px 35px 25px  !important;
  }

  .block1 {
    display: none !important;
  }

  .block3 {
    background-position: center;
  }

  .block4 {
    background-position: center;
  }

  .block6 .icon_logo {
    margin-top: 15px;
  }

  .block7 {
    background-position: center;
  }

  .block7 .form {
    width: 100% !important;
    margin-bottom: 15px;
  }

  .block7 .form input,
  .block7 .form .terea {
    width: 100% !important;
    border-right: 1px solid #fff;
    border-left: 1px  solid #fff;
  }

  .block7 .form input:hover,
  .block7 .form .terea:hover,
  .block7 .form input:focus,
  .block7 .form .terea:focus {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "block1 block1 block2 block2" "block1 block1 block2 block2" "block3 block3 block4 block4" "block3 block3 block5 block5" "block6 block7 block7 block7" "block6 block7 block7 block7";
  }

  .block1 {
    height: auto;
    background-position: center;
  }
}